body {
  font-family: 'Verdana', sans-serif;
}

.title{
  color: #666;
  margin-top: 47px;
  margin-left: 218px;


}


.image-responsive{
  margin-left: 10px;


}
.h1, h1 {
  font-size: 48px;

}

.subtitle{
  color: #f07c17;
  font-weight: 900;

}

.mockup-overlay {
       top: 0;
       position: absolute;
       z-index: -1;
       opacity: 0.4;
}

.container{
margin-left:33px

}


.caja{
  margin-top: 60px;
  margin-left: 24px;
  border-color: #ccc;
  border-width: 1px;
  line-height: 30px;

}

.taza{
  margin-top: 18px;
  margin-left: -5px;
}

.texto{

  margin-top: 31px;
  margin-left: -6px;

}


.h2, h2{
  font-size: 24px;
  font-weight: 700;

}

.h4, h4 {
  font-size: 16px;
  line-height: 32px

}

.text1{
  margin-left:-7px;
}
